In [1]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np

import re

In [2]:
# get a list of unique zip codes from trulia data set

df = pd.read_csv('../data/trulia_cleaned.csv')
zip_codes = list(set(df['zip_code']))
print("Number of unique zip_codes:", len(zip_codes))

Number of unique zip_codes: 168

In [6]:
# make sure all zip_codes are string objects
zip_codes = [str(zip_code) for zip_code in df.zip_code]
zip_codes = list(set(zip_codes))

In [12]:
test = zip_codes[:10]
test

['10030',
 '11226',
 '10305',
 '10280',
 '11208',
 '11362',
 '10469',
 '10282',
 '11418',
 '10471']

In [13]:
# create a function that returns all the tables from the income page

def income_page(zipcode):
    url = f"https://www.incomebyzipcode.com/newyork/{zipcode}"
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
    response = requests.get(url, headers=headers)
    income_page = response.text
    soup = BeautifulSoup(income_page,"html5lib")
    tables = soup.find_all("table")
    return(tables)

In [22]:
test = income_page(11249)

In [23]:
test

[]

In [26]:
# no data is available for 11249 zip code - remove
i = zip_codes.index("11249")
zip_codes.pop(i)

'11249'

In [29]:
# get median income data

income_data = pd.DataFrame(index=zip_codes,columns=['median_income','pct_high_income'])

for zipcode in zip_codes:
    tables = income_page(int(zipcode))
    
    # get median income
    rows_mi=[row for row in tables[0].find_all('tr')]
    med_inc = [el for el in rows_mi[1].find_all('td')]
    med_inc = med_inc[0].text.replace(',','')
    med_inc = int(med_inc.replace('$',''))
    
    # get pct high income households - what is HI 
    rows_hi=[row for row in tables[3].find_all('tr')]
    percents = [el for el in rows_hi[1].find_all('td')]
    pct = float(percents[0].text.replace('%',''))
    
    # fill out the dataframe
    income_data.at[zipcode, 'median_income'] = med_inc
    income_data.at[zipcode, 'pct_high_income'] = pct

In [30]:
income_data

      median_income pct_high_income
10030         33720               4
11226         45031             2.6
10305         74063               6
10280        146875            37.6
11208         37640             1.8
11362         82827             8.9
10469         57124             3.3
10282        250001            59.9
11418         63079             4.3
10471         81594            11.7
11233         35686             2.5
11210         59520             5.8
11361         81846             8.1
10302         55864             3.7
10468         34988               1
10314         77761             8.4
10312         88567             9.5
10044         86483              16
11354         43660               4
11356         57849             3.9
11416         59092             3.5
10022        123693            32.8
10029         32500             4.8
11414         70490               7
10023        115080            28.4
11218         60821             6.6
10069        155702            39.6
10024        118594            31.5
10021        115681            33.1
10455         23962               1
...             ...             ...
10004        123056            30.2
10025         80025            19.2
10036         83812            18.1
11693         53829               3
11385         60526             3.4
11364         70408             7.8
11104         57155             5.1
11221         43361               3
10040         45811               3
10010        110142            28.8
10039         32257             2.1
11358         66173             8.3
11205         47437             7.5
10033         46349             4.6
10002         35594             6.3
11435         55268             2.6
11214         52119             4.1
10303         55198             2.8
10458         30339               1
11365         62509             5.9
11213         37556             1.9
10027         42754             7.3
11367         57310             3.7
11103         62775             4.3
11228         63641               8
11357         74255             6.2
11102         56674             5.3
11370         53293             3.6
11235         45578               5
11231         84223              19

[167 rows x 2 columns]

In [32]:
# write the dataframe into a file
income_data.to_csv('../data/income_data_by_zip.csv')