In [11]:
import json
import pandas as pd
import codecs

In [25]:
df = pd.read_json(codecs.open('t3.json','r','utf-8'))
df.head()

,address,apt_features,days_on_trulia,elementary_school_count,high_school_count,middle_school_count,pets_allowed,price,sqft,url,year_built,zip_code
0,"150 West 58th Street, Manhattan, NY","[Elevator, Guarantor Ok, Guarantors, Live In S...",22,34,9,20,Small dogs\n ...,"$3,230",NaN,/p/ny/manhattan/150-w-58th-st-manhattan-ny-100...,NaN,10019
1,"220 East 72nd Street #22A, Manhattan, NY","[Elevator, Fitness Center, Dishwasher, Guarant...",176,29,9,21,No pets allowed,"$4,600",885.0,/p/ny/manhattan/220-e-72nd-st-22a-manhattan-ny...,NaN,10021
2,"235 West End Avenue #16A, Manhattan, NY","[Concierge, Elevator, Fitness Center, Children...",120,27,10,19,Small dogs\n ...,"$3,100",700.0,/p/ny/manhattan/235-w-end-ave-16a-manhattan-ny...,NaN,10023
3,"1450 1st Avenue #3FN, Manhattan, NY","[Guarantor Ok, Nyc Evacuation 6, Storage Room]",48,29,8,21,No pets allowed,"$2,250",NaN,/p/ny/manhattan/1450-1st-ave-3fn-manhattan-ny-...,NaN,10021
4,"157 East 2nd Street #2A, Manhattan, NY","[Elevator, Live In Super, Nyc Evacuation 5]",23,39,13,17,No pets allowed,"$2,500",600.0,/p/ny/manhattan/157-e-2nd-st-2a-manhattan-ny-1...,NaN,10009

0    /p/ny/manhattan/157-e-2nd-st-2a-manhattan-ny-1...
1    /p/ny/manhattan/220-e-72nd-st-22a-manhattan-ny...
2    /p/ny/manhattan/235-w-end-ave-16a-manhattan-ny...
3    /p/ny/manhattan/1450-1st-ave-3fn-manhattan-ny-...
4    /p/ny/manhattan/150-w-58th-st-manhattan-ny-100...
Name: url, dtype: object

In [20]:
a = ''

In [21]:
a

''

In [22]:
a.strip()

''